<h1>Вход в систему</h1>

<form method="post">

    <p>
        <input type="text" placeholder="login" name="User[username]" required>
    </p>
    <p>
        <input type="text" placeholder="login" name="User[login]" required>
    </p>
    <p>
        <input type="password" placeholder="login" name="User[password]" required>
    </p>

    <button type="submit">OK</button>

</form>