<ul class="nav nav-tabs justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href="#">Catalog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Sing in</a>
  </li>
</ul>